:root {
  --primary-500: #d44a78;
  --primary-400: #e76a94;
  --primary-300: #f490b1;
  --primary-200: #fabbd0;
  --primary-100: #feebf1;
  --secondary-500: #424242;
  --secondary-400: #5c5c5c;
  --secondary-300: #757575;
  --secondary-200: #8f8f8f;
  --secondary-100: #a8a8a8;
  --gray-500: #17171c;
  --gray-400: #303036;
  --gray-300: #7a7a7a;
  --gray-200: #d3d3d3;
  --gray-100: #f2f2f2;
  --font-titles: "Montserrat", sans-serif;
  --font-content: "Inter", sans-serif;
}
.content--xs {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.content--sm,
.button,
.form__input {
  font-size: 1.4rem;
  line-height: 2rem;
}
.content--md {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.content--lg {
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.content--xl {
  font-size: 2rem;
  line-height: 2.8rem;
}
.heading {
  color: var(--gray-100);
}
.heading--xs {
  font-size: 2rem;
  line-height: 2.8rem;
}
.heading--sm {
  font-size: 2.4rem;
  line-height: 3.2rem;
}
.heading--md {
  font-size: 3rem;
  line-height: 3.6rem;
}
.heading--lg {
  font-size: 3.6rem;
  line-height: 4rem;
}
.heading--xl {
  font-size: 4.8rem;
  line-height: 4.8rem;
}
.button {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  font-weight: 500;
  color: var(--gray-500);
  letter-spacing: 0.1em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05);
  text-transform: uppercase;
  background-color: var(--primary-300);
  transition: all 0.25s;
}
.button:focus-visible {
  outline: 2px solid var(--primary-300);
  outline-offset: 3px;
}
.button:hover {
  background-color: var(--primary-200);
}
.button.button:active {
  transform: translateY(0.2em);
}
.button--secondary {
  color: var(--gray-100);
  background-color: var(--secondary-400);
}
.button--secondary:hover {
  background-color: var(--secondary-500);
}
.button--secondary:focus-visible {
  outline: 2px solid var(--secondary-400);
  outline-offset: 3px;
}
.button--subtle {
  background-color: var(--gray-200);
  color: var(--gray-400);
}
.button--subtle:hover {
  background-color: var(--gray-100);
}
.button--subtle:focus-visible {
  outline: 2px solid var(--gray-200);
  outline-offset: 3px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  color: var(--gray-100);
}
body {
  background-color: var(--gray-500);
  font-family: var(--font-content);
  font-weight: 400;
}
a {
  text-decoration: none;
  color: var(--primary-300);
}
.main__section {
  padding: 6.4rem 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.header {
  padding: 3.2rem 1.6rem;
  margin: 0 auto;
  max-width: 760px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  background-color: var(--gray-500);
}
.header nav {
  width: 100vw;
  background-color: var(--gray-500);
  display: none;
}
.header #cross {
  display: none;
}
.header #menu {
  height: 25px;
  width: 25px;
  align-self: center;
}
.header__img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 12px;
}
.header__item {
  display: flex;
  align-items: center;
}
.header__nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.header__nav-link {
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.5s;
}
.header__nav-link:hover {
  background-color: var(--gray-400);
}
.header .header__nav-open {
  position: absolute;
  display: block;
  left: 0;
  top: 80px;
  padding: 3.2rem 0;
  padding-top: 1.6rem;
}
.header__nav-open ~ #cross {
  display: block;
}
.header__nav-open ~ #menu {
  display: none;
}
@media screen and (min-width: 640px) {
  .header nav {
    display: block;
    width: min-content;
    margin: auto 0;
  }
  .header #cross {
    display: none;
  }
  .header #menu {
    display: none;
  }
  .header__nav {
    flex-direction: row;
  }
  .header .header__nav-open {
    position: static;
    padding: 0;
  }
}
.input__label {
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
.helper-text {
  color: var(--gray-200);
  opacity: 0.75;
}
.main__section:nth-child(1) {
  background-color: var(--gray-400);
}
.form {
  max-width: 760px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.form__heading {
  text-align: center;
}
.form__container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.form__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.form__item select {
  appearance: none;
  font-family: var(--font-content);
  font-weight: 400;
}
.form__input {
  height: 4rem;
  width: 100%;
  padding: 0.8rem 1.2rem;
  border-radius: 0.6rem;
  border: 1px solid var(--gray-300);
  background-color: var(--gray-500);
  color: var(--gray-100);
  font-family: var(--font-content);
  font-weight: 400;
}
.form__input:focus-visible {
  outline: none;
  box-shadow: 0px 0px 4px var(--primary-300);
}
.form__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}
.form__checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.form__checkbox {
  display: flex;
  gap: 1rem;
}
.form__checkbox input {
  appearance: none;
  min-width: 16px;
  min-height: 16px;
  margin: 2px;
  align-self: flex-start;
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  animation: uncheck 0.6s ease;
  animation-fill-mode: forwards;
}
.form__checkbox input:checked {
  border: none;
  background-image: url("../assets/icons/check.svg");
  background-size: 9px 9px;
  background-position: center;
  background-repeat: no-repeat;
  animation: check 0.75s linear;
  animation-fill-mode: forwards;
}
.form__checkbox input:focus-visible {
  outline: 2px solid var(--primary-300);
  outline-offset: 2px;
}
@media screen and (max-width: 480px) {
  .form__block {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
}
@-moz-keyframes check {
  0% {
    transform: scale(1);
    background-color: var(--gray-500);
  }
  50% {
    transform: scale(1.2);
    background-color: var(--primary-300);
    outline: 2px solid var(--primary-300);
    outline-offset: 2px;
  }
  100% {
    transform: scale(1);
    background-color: var(--primary-300);
  }
}
@-webkit-keyframes check {
  0% {
    transform: scale(1);
    background-color: var(--gray-500);
  }
  50% {
    transform: scale(1.2);
    background-color: var(--primary-300);
    outline: 2px solid var(--primary-300);
    outline-offset: 2px;
  }
  100% {
    transform: scale(1);
    background-color: var(--primary-300);
  }
}
@-o-keyframes check {
  0% {
    transform: scale(1);
    background-color: var(--gray-500);
  }
  50% {
    transform: scale(1.2);
    background-color: var(--primary-300);
    outline: 2px solid var(--primary-300);
    outline-offset: 2px;
  }
  100% {
    transform: scale(1);
    background-color: var(--primary-300);
  }
}
@keyframes check {
  0% {
    transform: scale(1);
    background-color: var(--gray-500);
  }
  50% {
    transform: scale(1.2);
    background-color: var(--primary-300);
    outline: 2px solid var(--primary-300);
    outline-offset: 2px;
  }
  100% {
    transform: scale(1);
    background-color: var(--primary-300);
  }
}
@-moz-keyframes uncheck {
  0% {
    background-color: var(--primary-300);
  }
  100% {
    background-color: var(--gray-500);
  }
}
@-webkit-keyframes uncheck {
  0% {
    background-color: var(--primary-300);
  }
  100% {
    background-color: var(--gray-500);
  }
}
@-o-keyframes uncheck {
  0% {
    background-color: var(--primary-300);
  }
  100% {
    background-color: var(--gray-500);
  }
}
@keyframes uncheck {
  0% {
    background-color: var(--primary-300);
  }
  100% {
    background-color: var(--gray-500);
  }
}
