@import "./components/globals.styl"
@import "./components/header.styl"
@import "./components/cta.styl"

.proyects
  section-container()
  align-items: center
  gap: 48px
  &__header
    display: flex
    flex-direction: column
    align-items: center
    gap: 0.8rem
  &__filters
    width: 100%
    padding: 1.6rem
    flex-wrap: wrap
    gap: 1.6rem
    background-color: var(--gray-400)
    border-radius: 1rem
    .filters-header
      display: flex
      justify-content: space-between
    details
      summary
        position: relative
        cursor: pointer
        &::marker
          color: transparent
        &::after
          position: absolute
          right: 0
          bottom: 4px
          display: inline-block
          content: ""
          height: 20px
          width: 20px
          background: url("../assets/icons/cross.svg") center no-repeat
  &__container
    position: relative
    margin: auto
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr))
    gap: 48px

.form
  &__checkbox
    display: flex
    gap: 1rem
    input
      appearance: none
      min-width: 16px
      min-height: 16px
      margin: 2px
      align-self: flex-start
      border: 1px solid var(--gray-300)
      border-radius: 4px
      animation: uncheck 0.6s ease
      animation-fill-mode: forwards
      &:checked
        border: none
        background-image: url("../assets/icons/check.svg")
        background-size: 9px 9px 
        background-position: center
        background-repeat: no-repeat
        animation: check 0.75s linear
        animation-fill-mode: forwards
      &:focus-visible
        outline: 2px solid var(--primary-300)
        outline-offset: 2px

@keyframes check
  0%
    transform: scale(1)
    background-color: var(--gray-500)
  50%
    transform: scale(1.2)
    background-color: var(--primary-300)
    outline: 2px solid var(--primary-300)
    outline-offset: 2px
  100%
    transform: scale(1)
    background-color: var(--primary-300)

@keyframes uncheck
  0%
    background-color: var(--primary-300)
  100%
    background-color: var(--gray-500)

.proyect
  display: flex
  flex-wrap: wrap
  gap: 1.6rem
  background-color: var(--gray-400)
  border-radius: 1rem
  overflow: hidden
  &__img
    width: 100%
    object-fit: cover
  &__content
    margin: 2rem
    display: flex
    flex-direction: column
    justify-content: center
    gap: 1.6rem
  &__technologies
    padding: 10px
    display: flex
    gap: 25px
    background-color: var(--gray-500)
    border-radius: 10px
  &__technology
    height: 25px
    width: 25px
  &__link
    text-transform: uppercase
    font-weight: 500
    letter-spacing: 0.1em
    @extend .content--sm
