@import "./components/globals.styl"
@import "./components/header.styl"
@import "./components/cta.styl"

.proyect
  max-width: 760px
  display: flex
  flex-direction: column
  gap: 16px
  &__picture
    margin: 0 auto
    &__img
      width: 100%
      max-width: 700px
    &__caption
      margin-top: 0.8rem
      text-align: center
      color: var(--gray-200)
  &__picture
    margin: 0 auto
    &__img
      width: 100%
      max-width: 640px
    &__caption
      margin-top: 0.8rem
      text-align: center
      color: var(--gray-200)
  &__list
    display: flex
    flex-direction: column
    gap: 1.6rem
    padding: 0 2.6rem
    &-item
      display: flex
      flex-direction: column
      gap: 1.6rem
    &-img
      width: 100%
      max-width: 640px
  &__link
    margin-top: 4.8rem
    text-align: center
    text-transform: uppercase
    font-weight: 500