header.header
  .header__item
    img.header__img(src= depth + "assets/icons/avatar.svg", alt="avatar")
    a(href=depth).heading.heading--sm Ricardo Gómez
  nav.header__item.header__nav-open
    ul.header__nav
      li.header__nav-item 
        a.content--md.header__nav-link(href= depth + "html/articles") Blog
      li.header__nav-item 
        a.content--md.header__nav-link(href= depth + "html/portfolio") Portfolio
      li.header__nav-item 
        a.content--md.header__nav-link(href= depth + "html/about.html") About
      li.header__nav-item
        a.button.button--subtle(href= depth + "html/contact.html") Contact
  img#menu(src= depth + "assets/icons/menu.svg", alt="menu icon")
  img#cross(src= depth + "assets/icons/cross.svg", alt="cross icon")
