section.main__section
  .intro
    h2.heading.heading--lg Hi! I’m <span>Ricardo</span>, professional web developer and educator
    p.content.content--lg I specialize in teaching and building full-stack web applications using Ruby on Rails and React. I commit my work to <a href="https://github.com/rgomeztinoco">Github</a> and use <a href="https://twitter.com/rgomeztinoco">Twitter</a> to keep in touch with the last trends.