extend ../../../components/template.pug
block vars
  -var title = "CalenCLI"
  -var depth = "../../"
  -var path = depth + "css/proyect.css"
  -var cta = true
block content
  section.main__section
    article.proyect
      h1.heading.heading--md=title 
      figure.proyect__picture
        img.proyect__picture__img(src= depth + "assets/images/proyects/calencli.png", alt="calencli proyect main view")
        figcaption.content--sm.proyect__picture__caption CalenCLI proyect main view
      p.content--lg 
        | CalenCLI is a calendar for the comand-line interface.
        br
        | It has the following functionalities: 
      ul.proyect__list
        each item in ["Create", "Show", "Update", "Delete"]
          li.proyect__list-item.content--lg=item
            img.proyect__list-img(src= depth + "assets/images/" + item + ".png", alt="Function " + item)
      a.proyect__link.content--sm(href= depth + "html/articles") Back to Portfolio