@import "./globals/variables.styl"
@import "./globals/texts.styl"
@import "./globals/buttons.styl"
@import "./globals/config.styl"

*
  box-sizing: border-box
  margin: 0
  padding: 0
html
  font-size: 62.5%
  color: var(--gray-100)
body
  background-color: var(--gray-500)
  content-font()
a
  text-decoration: none
  color: var(--primary-300)

.main__section
  padding: 6.4rem 1.6rem
  display: flex
  flex-direction: column
  align-items: center
  gap: 16px
