content-font()
  font-family: var(--font-content)
  font-weight: 400
title-font()
  font-family: var(--font-titles)
  font-weight: 600
section-container()
  max-width: 760px
  display: flex
  flex-direction: column