:root
  --primary-500: #d44a78
  --primary-400: #E76A94
  --primary-300: #F490B1
  --primary-200: #FABBD0
  --primary-100: #FEEBF1
  --secondary-500: #424242
  --secondary-400: #5C5C5C
  --secondary-300: #757575
  --secondary-200: #8F8F8F
  --secondary-100: #A8A8A8
  --gray-500: #17171c
  --gray-400: #303036
  --gray-300: #7A7A7A
  --gray-200: #D3D3D3
  --gray-100: #f2f2f2
  --font-titles: "Montserrat", sans-serif
  --font-content: "Inter", sans-serif